$primary-color: #FFF8DE;
$secondary-color: #6BC2C1;
$accent-color: #f296bb;
$primary-text: black;
$secondary-text: black;

@font-face {
    font-display: swap;
  font-family: 'cass';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/J-Audio-Cassette.otf') format('opentype');
}

h1, h2, h3, p, li, a, label{
    font-family: 'cass', sans-serif;
}

p{
    font-size: 1.1rem;
}

@font-face {
    font-display: swap;
  font-family: 'heystone';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/heystone-typeface-oke.otf') format('opentype');
}

body{
    margin:0;
    padding:0;
    background-color: $primary-color;
}

.nav{
    overflow: hidden;
    background-color: $secondary-color;
    width: 100vw;
    height:10vh;
    display: flex;

    .icon {
  display: none;
}

    a {
        color:$secondary-text;
        font-family: "heystone", sans-serif;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 2rem;
        margin-top:auto;
        height:100%;

    }
.icon{
    height:auto;
}
    a:hover{
        background-color: $accent-color;
    }

    
}



.text-image{
        position: relative;
        color:$primary-text;
        text-align: center;
        display: flex;
        margin-top: 1rem;
        margin-bottom: 2rem;

        .text{
        width: 40vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        }

        .text-shop{
           width: 40vw; 
           text-align: start;
           margin: auto;
           width: 40vw;
        display: flex;
        flex-direction: column;
        justify-content: start;
        }

        .image{
        margin: auto;
        

        img{
            width: 50vw; 
        height: auto;
        border-radius: 1rem;
        }
    }

    }

    .sew-header-mobile{
        display: none;
    }
    
.image-text{
    display: flex;
    color:$primary-text;
    text-align: center;
    margin-top: 2rem;

    .text{
        width: 40vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }

    .image{
        margin: auto;
        

        img{
            width: 30vw; 
        height: auto;
        border-radius: 1rem;
        }
    }
}


.wrap {
overflow: hidden;
position: relative;
}

.hero-background {
opacity: 0.4;
position: absolute;
left: 0;
top: 0;
width: 100%;
height: auto;
}

.cards{

display: flex;
justify-content: space-evenly;
width:100vw;
position: relative;
margin-bottom:3rem;

.card{
   display: flex;
   flex-direction: column;
   align-items: center;
justify-content: center; 
border: 1px black solid;
border-radius: 1rem;
background-color: #FFF8DE80;
overflow: hidden;
width: 30%;
}
.card-img{

    img{
    width: 100%;
    height:50vh;
    
    }
}


.card-text{
    text-align: center;
}


}

.footer{
    overflow: hidden;
    width: 100vw;
    display: flex;
    position: relative;
    background-color: $secondary-color;

    .footer-left{
        width:calc(100vw / 3);
        justify-content: flex-start;
        img{
            width:25vw;
        }
    }

    .footer-center{
        display: flex;
        justify-content: center;
        width:calc(100vw / 3);

        a {
        color:$secondary-text;
        font-family: "heystone", sans-serif;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 1.5rem;
        align-self: center;
    }
    }

    .footer-right{
        display: flex;
        justify-content: center;
        width:calc(100vw / 3);
    }

    .footer-col{

        display: flex;
        flex-direction: column;
    a {
        color:$secondary-text;
        font-family: "heystone", sans-serif;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 1.5rem;
        align-self: center;
    }

    a:hover{
        background-color: $accent-color;
    }
    .cs-social-link{
        margin-top: 2rem;
        margin-right: 1rem;
    }



}
}

@media only screen and (max-width: 700px) {
    .footer{
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;

        .footer-left{
            width:95vw;

            img{
                width:80%;
                margin: auto;
                }
            }
        }
    }

/*-- -------------------------- -->
<---          Contact           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {



        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: calc(550 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: calc(48 / 16 * 1rem);
        }

        .cs-content {
            max-width: calc(522 / 16 * 1rem);
            text-align: left;
        }


        .cs-header {
            /* 13px - 16px */
            font-size: clamp(0.8125rem, 1.5vw, 1rem);
            line-height: 1.2em;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            margin: 0 0 calc(16 / 16 * 1rem) 0;
            color: black;
            font-size: 1.25rem;
            display: block;
        }

        .cs-link {
            /* 16px - 20px */
            font-size: clamp(1rem, 2vw, 1.25rem);
            text-decoration: none;
            line-height: 1.5em;
            font-weight: 700;
            /* 16px - 32px */
            margin: 0 0 clamp(1rem, 2.5vw, 2rem);
            color: var(--headerColor);
            display: block;

            &:hover {
                text-decoration: underline;
            }

            &:last-of-type {
                margin-bottom: 0;
            }
        }

        .cs-social {
            /* 32px - 80px */
            margin-top: clamp(1rem, 6vw, 3rem);
            display: inline-flex;
            justify-content: flex-start;
            gap: calc(12 / 16 * 1rem);
        }

        .cs-social-link {
            /* 32px - 52px */
            width: clamp(2rem, 4vw, 3.25rem);
            height: clamp(2rem, 4vw, 3.25rem);
            background-color: $secondary-color;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            z-index: 1;
            transition:
                transform 0.3s,
                background-color 0.3s;

            &:hover {
                background-color: $accent-color;
                transform: translateY(-0.1875rem);
            }
        }

        .cs-social-img {
            /* 14px - 24px */
            height: clamp(0.875rem, 2vw, 1.5rem);
            width: auto;
            display: block;
        }

        #cs-form-490 {
            width: 100%;
            max-width: calc(650 / 16 * 1rem);
            /* 32px - 40px */
            margin-bottom: clamp(2rem, 5.3vw, 2.5rem);
            /* 20px - 40px */
            padding: clamp(1.25rem, 4.5vw, 2.5rem);
            /* prevents padding from affecting width and height */
            box-sizing: border-box;
            border: 1px solid #dad9e3;
            border-radius: calc(16 / 16 * 1rem);
        }

        .cs-label {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.3vw, 1rem);
            line-height: 1.5em;
            font-weight: 700;
            /* 16px - 20px */
            margin-bottom: clamp(1rem, 1em, 1.25rem);
            font-size: 1.2rem;
            color: var(--headerColor);
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
        }

        .cs-label-message {
            /* 32px - 40px */
            margin-bottom: clamp(2rem, 4.5vw, 2.5rem);
            font-size: 1.2rem;
        }

        .cs-input,
        textarea {
            font-size: calc(16 / 16 * 1rem);
            width: 100%;
            height: calc(64 / 16 * 1rem);
            margin-top: calc(4 / 16 * 1rem);
            padding-left: calc(20 / 16 * 1rem);
            /* set transparent border so on hover border doesn't make it glitch */
            border: 1px solid transparent;
            border-bottom: 1px solid #b4b2c7;
            /* prevents border & padding from affecting height */
            box-sizing: border-box;
            transition: border 0.3s;

            &:hover {
                border: 1px solid var(--primary);
            }

            &::placeholder {
                color: #7d799c;
            }
        }

        textarea {
            font-family: inherit;
            margin: 0;
            padding-top: calc(20 / 16 * 1rem);
            min-height: calc(120 / 16 * 1rem);
        }

        .cs-button-solid {
            font-size: calc(16 / 16 * 1rem);
            /* 46px - 56px */
            line-height: clamp(2.875em, 5.5vw, 3.5em);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: auto;
            width: 100%;
            color: #fff;
            padding: 0 calc(24 / 16 * 1rem);
            background-color: var(--primary);
            border: none;
            border-radius: calc(8 / 16 * 1rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: calc(8 / 16 * 1rem);
                transition: width 0.3s;
            }

            &:hover {
                cursor: pointer;
                &:before {
                    width: 100%;
                }
            }
        }
    }


/* Tablet - 700px */
@media only screen and (min-width: 43rem) {
    #cs-contact-490 {
        .cs-container {
            max-width: calc(1280 / 16 * 1rem);
            flex-direction: row;
            justify-content: space-between;
        }

        .cs-content {
            width: 40%;
            /* pushes it to the right */
            order: 2;
            flex: none;
        }

        #cs-form-490 {
            margin: 0;
        }
    }
}
                                

.card-button{
 width: 10rem;
  height: 4rem;
  color: #000000;
  border-radius: 1rem;
  padding: 10px 25px;
  font-family: "heystone", sans-serif;
  font-size: 1.5rem;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
  margin: 1rem;
}

 .btn-4 {
  background-color: $secondary-color;
  line-height: 42px;
  padding: 0;
  border: none;
}
.btn-4:hover{
  background-color: $accent-color;
}
.btn-4 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-4:before,
.btn-4:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
   box-shadow:  4px 4px 6px 0 rgba(255,255,255,.9),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.9),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
  transition: all 0.3s ease;
}
.btn-4:before {
  height: 0%;
  width: .1px;
}
.btn-4:after {
  width: 0%;
  height: .1px;
}
.btn-4:hover:before {
  height: 100%;
}
.btn-4:hover:after {
  width: 100%;
}
.btn-4 span:before,
.btn-4 span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.9),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.9),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
  transition: all 0.3s ease;
}
.btn-4 span:before {
  width: .1px;
  height: 0%;
}
.btn-4 span:after {
  width: 0%;
  height: .1px;
}
.btn-4 span:hover:before {
  height: 100%;
}
.btn-4 span:hover:after {
  width: 100%;
}

@media screen and (max-width: 600px) {
    .nav {justify-content: space-between;}
  .nav a:not(:first-child) {display: none;}
  .nav a.icon {
    float: right;
    display: block;
  }

  .hero-background {
opacity: 0.4;
position: absolute;
left: 0;
top: 0;
width: auto;
height: 100%;
}

.sew-header-desktop{
    display: none;
}

.sew-header-mobile{
    display: block;
    text-align: center;
}

.text-image{
        position: relative;
        color:$primary-text;
        text-align: center;
        display: block;
        margin-top: 0.5rem;

        .text{
        width: 95vw;
        text-align: center;
        margin: auto;
        }

        .image{
        margin: auto;
        

        img{
            width: 95vw; 
        height: auto;
        border-radius: 1rem;
        }
    }

    }

    .image-text{
    display: block;
    color:$primary-text;
    text-align: center;
    margin-top: 2rem;

    .text{
        width: 95vw;
        margin: auto;
    }

    .image{
        margin: auto;
        

        img{
            width: 95vw; 
        height: auto;
        border-radius: 1rem;
        }
    }
}

    .cards{
        display: block;

        .card{
            width: 95vw;
            margin: auto;
            margin-top: 1rem;
        }
    }
  
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .nav.responsive {
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
}
  .nav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav.responsive a {
    display: flex;
  }
}


